.carousel-caption {
    background: rgba(0,0,0,0.5);
    left: 0;
    right: 0;
    bottom: 0;
    padding: 5px;

    text-shadow: 0 1px 2px rgb(0 0 0 / 60%);
}

.carousel-caption h2 {
    margin: 0;
    padding: 15px 0px;

    color: #e6db00;
    font: normal 30px Roboto;
    letter-spacing: -1px;
}

.carousel-control-prev-icon {
    background-color: rgba(0,0,0,0.5);
}
